<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">{{'C_HEAD_ASK_QUESTION' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <p>{{'C_TXT_QUESTION' | translate}}</p>
  <form name="feedbackForm" id="feedbackForm" novalidate>
    <div class="form-group">
      <label for="title">{{'C_LABEL_TITEL' | translate}}</label>
      <input type="text" id="subj" name="subj" class="form-control" placeholder="" 
      ng-model="vm.question.subj"
      maxlength="200" 
      ng-required="true">
      <div class="text-danger" ng-messages="feedbackForm.subj.$error" ng-if="feedbackForm.$submitted">
        <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="question">{{'C_LABEL_QUESTION' | translate}}</label>
      <textarea class="form-control" rows="3" 
      id="text" name="text"
      maxlength="500" 
      ng-model="vm.question.text"
      ng-required="true"></textarea>
      <div class="text-danger" ng-messages="feedbackForm.text.$error" ng-if="feedbackForm.$submitted">
        <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
      </div>
    </div>
  </form>     
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" form="feedbackForm" ng-click="feedbackForm.$valid ? vm.sendQuestion() : ''">{{'C_BTN_SEND' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'C_BTN_CANCEL' | translate}}</button>
</div>