<h3 class="clearfix margin-bottom-10">FAQ
  <button type="button" class="btn btn-primary pull-right" ng-click="vm.open()">Задать вопрос</button>  
</h3>

<uib-accordion close-others="true">
  <div uib-accordion-group class="panel-default" is-open="item.open" ng-repeat="item in vm.faq">
    <uib-accordion-heading>
      {{$index+1}}. {{item.subj}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': item.open, 'glyphicon-chevron-right': !item.open}"></i>
    </uib-accordion-heading>
    {{item.text}}
  </div>
</uib-accordion>

<script type="text/ng-template" id="feedback.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Задать вопрос</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <p>Ответ на ваш вопрос вы получите по емайлу. Не забудьте просматривать спам папку на случай если наш емайл туда попадет.</p>
      <form name="feedbackForm" id="feedbackForm" novalidate ng-submit="feedbackForm.$valid ? vm.sendQuestion() : ''">
        <div class="form-group">
          <label for="title">Заголовок</label>
          <input type="text" id="subj" name="subj" class="form-control" placeholder="" 
          ng-model="vm.question.subj"
          ng-maxlength="200" 
          ng-required="true">
          <div class="text-danger" ng-messages="feedbackForm.subj.$error" ng-if="feedbackForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
            <div ng-message="maxlength">Введите не больше 200 символов</div>
          </div>
        </div>
        <div class="form-group">
          <label for="question">Вопрос</label>
          <textarea class="form-control" rows="3" 
          id="text" name="text"
          ng-maxlength="500" 
          ng-model="vm.question.text"
          ng-required="true"></textarea>
          <div class="text-danger" ng-messages="feedbackForm.text.$error" ng-if="feedbackForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
            <div ng-message="maxlength">Введите не больше 500 символов</div>
          </div>
        </div>
      </form>     
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" form="feedbackForm"">Отправить</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Отмена</button>
    </div>
</script>