<h3 class="clearfix margin-bottom-10">{{'C_HEAD_FAQ' | translate}}
  <button type="button" class="btn btn-primary pull-right" ng-click="vm.open()">{{'C_BTN_ASK_QUESTION' | translate}}</button>  
</h3>

<uib-accordion close-others="true">
  <div uib-accordion-group class="panel-default" is-open="item.open" ng-repeat="item in vm.faq">
    <uib-accordion-heading>
      {{$index+1}}. {{item.subj}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': item.open, 'glyphicon-chevron-right': !item.open}"></i>
    </uib-accordion-heading>
    {{item.text}}
  </div>
</uib-accordion>