<div ng-include="'app/layout/sitenav.html'"></div>
<div class="margin-top-15">
  <form name="couponForm" ng-submit="couponForm.$valid ? vm.submitCouponSettings() : ''" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-feedback">
          <label for="homepage-url">Адрес сайта* <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="text" class="form-control" id="homepage-url" name="homepageUrl" placeholder="" 
            ng-required="true"
            ng-model="vm.couponSettings.homepageUrl"
          >
          <div class="text-danger" ng-messages="couponForm.siteUrl.$error" ng-if="couponForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="titel">Заголовок* <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="text" class="form-control" id="titel" name="titel" placeholder="" 
            ng-required="true" 
            ng-maxlength="40" 
            ng-model="vm.couponSettings.titel">
          <div class="text-danger" ng-messages="couponForm.titel.$error" ng-if="couponForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
            <div ng-message="maxlength">Введите не больше 40 символов</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Описание купона* <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <textarea class="form-control" rows="2" id="description" name="description"
            ng-required="true"
            ng-maxlength="105" 
            ng-model="vm.couponSettings.description"></textarea>
          <div class="text-danger" ng-messages="couponForm.description.$error" ng-if="couponForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
            <div ng-message="maxlength">Введите не больше 105 символов</div>
          </div>
        </div>
        <div class="form-group">
          <label for="conditions">Условия использования купона* <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <textarea class="form-control" rows="5" ng-model="vm.couponSettings.text" name="conditions" style="height: 128px;"
            ng-required="true"
            ng-maxlength="300" 
            ></textarea>
          <div class="text-danger" ng-messages="couponForm.conditions.$error" ng-if="couponForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
            <div ng-message="maxlength">Введите не больше 105 символов</div>
          </div>
        </div> 
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="site-icon">Иконка (макс. размер 1 мб.)<span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <div class="site-icon" flow-init="{singleFile:true}"
           flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
           flow-files-submitted="vm.addFile( $files, $event, $flow )">
            <div class="site-icon-buttons">
              <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Добавить изображение</span>
              <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Изменить</span>
              <span class="btn btn-danger" ng-show="$flow.files.length"
                 ng-click="$flow.cancel()">
                Удалить
              </span>
            </div>
            <div class="site-icon-holder">
              <div class="thumbnail site-icon-preview" ng-show="$flow.files.length || vm.couponSettings.imgUrl">
                <div class="site-icon-wrapper">
                  <img  class="site-icon-image" ng-if="$flow.files.length" flow-img="$flow.files[0]" />
                  <img  class="site-icon-image" ng-if="!$flow.files.length && vm.couponSettings.imgUrl" ng-src="{{vm.couponSettings.imgUrl}}" />
                </div>
              </div>               
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="color-theme">Цветовая тема <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <select class="form-control" name="color-theme" id="color-theme" 
            ng-options="color.id as color.name for color in vm.colorThemes" 
            ng-model="vm.couponSettings.colorTheme" convert-to-number>
          </select>
        </div>
        <div class="form-group">
          <label for="limit-period">Лимит в месяц* <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="tel" class="form-control" id="limit-period" name="limitPeriod" placeholder="" ng-model="vm.couponSettings.limitPeriod" ng-required="true" >
          <div class="text-danger" ng-messages="couponForm.limitPeriod.$error" ng-if="couponForm.$submitted">
            <div ng-message="required">Это поле обязательно для заполнения.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="promo-code-type">Промо-коды <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <div class="margin-top-03">
            <label class="radio-inline">
              <input type="radio" name="promo-code-type" id="promo-code-type-1" value="1" ng-model="vm.couponSettings.couponCodeGenerate"> Сгенерировать системой
            </label>
            <label class="radio-inline">
              <input type="radio" name="promo-code-type" id="promo-code-type-2" value="0" ng-model="vm.couponSettings.couponCodeGenerate"> Загрузить вручную
            </label>            
          </div>
        </div>
        <div class="form-group">
          <label for="promo-code">Введите промо-код <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="text" class="form-control" id="promo-code" placeholder="" ng-disabled="!vm.couponSettings.couponCodeGenerate" ng-model="vm.couponSettings.couponCode">
        </div>       
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="region">Регион посетителя для которых показывать мой купон <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
      <div class="input-group">
        <input type="text" ng-model="vm.region" class="form-control" uib-typeahead="region as region.name for region in vm.getRegionList($viewValue) | limitTo:5">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="vm.addRegion()"><span class="glyphicon glyphicon-plus"></span></button>
        </span>
      </div>
    </div>
    <ul class="list-inline">
      <li ng-repeat="region in vm.couponSettings.showRegions">
        {{region.name}}
        <button type="button" class="btn btn-xs btn-link" ng-click="vm.removeRegion(region)">
          <span class="glyphicon glyphicon-remove text-danger"></span>
        </button>
      </li>
    </ul>
    <div class="form-group margin-top-15">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <button type="button" class="btn btn-danger">Удалить</button>
      <button type="button" class="btn btn-default">Отмена</button>
    </div>
  </form>
  <img alt="" width="125" height="125" class="img-thumbnail" ng-src="{{vm.couponSettings.icon}}" ng-if="vm.couponSettings.icon">
</div>