<div class="row">
  <div class="col-md-10">
    <form>
      <div class="form-group">
        <label class="sr-only" for="add-site">Добавить сайт</label>
        <div class="input-group">
          <input type="text" class="form-control" id="add-site" placeholder="Добавить сайт">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div>
      </div>
    </form>  
  </div>
</div>

<hr />
<uib-tabset>
  <uib-tab index="0" heading="Купон">
    <div class="row margin-top-10">
      <div class="col-md-10">
        <form ng-submit="vm.submitCouponSettings()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="site-address">Адрес сайта</label>
                <input type="text" class="form-control" id="site-address" placeholder="" ng-model="vm.couponSettings.siteAddress">
              </div>
              <div class="form-group">
                <label for="site-icon">Адрес иконки</label>
                <input type="text" class="form-control" id="site-icon" placeholder="" ng-model="vm.couponSettings.siteIcon">
              </div>
              <div class="form-group">
                <label for="color-scheme">Цветовая тема</label>
                <select class="form-control" name="color-scheme" id="color-scheme" 
                  ng-options="color.id as color.title for color in vm.couponSettings.colorSchemeList" 
                  ng-model="vm.couponSettings.colorScheme" convert-to-number>
                </select>
              </div>                           
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="site-title">Заголовок</label>
                <input type="text" class="form-control" id="site-title" placeholder="" ng-model="vm.couponSettings.siteTitle">
              </div>
              <div class="form-group">
                <label for="secret-key">Секретный ключ</label>
                <input type="text" class="form-control" id="secret-key" placeholder="" readonly ng-model="vm.couponSettings.secretKey">
              </div>
              <div class="form-group">
                <label for="window-position">Расположение окна</label>
                <div class="margin-top-03">
                  <label class="radio-inline" ng-repeat="position in vm.couponSettings.positionList">
                    <input type="radio" name="position" id="position-{{position.id}}" value="{{position.id}}" ng-model="vm.couponSettings.position"> {{position.title}}
                  </label>
                </div>
              </div>                           
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label for="site-theme">Тематики сайтов на которых показывать мой купон</label>
            <div>
              <label class="checkbox-inline" ng-repeat="theme in vm.couponSettings.themes">
                <input type="checkbox" id="site-theme-{{$index}}" value="site-theme-{{$index}}" ng-model="vm.couponSettings.themes[$index].checked"> {{theme.title}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="region">Регион посетителя для которых показывать мой купон</label>
            <div class="input-group">
              <input type="text" ng-model="vm.region" class="form-control" uib-typeahead="region for region in vm.couponSettings.availableRegionList | filter:$viewValue | limitTo:5">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="vm.addRegion()"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
          </div>
          <ul class="list-inline">
            <li ng-repeat="region in vm.couponSettings.regionList">
              {{region}}
              <button type="button" class="btn btn-xs btn-link" ng-click="vm.removeRegion(region)">
                <span class="glyphicon glyphicon-remove text-danger"></span>
              </button>
            </li>
          </ul>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="coupon-price">Стоимость отправки купона (Руб.)</label>
                <input type="text" class="form-control" id="coupon-price" placeholder="" ng-model="vm.couponSettings.couponPrice">
              </div>            
            </div>
            <div class="col-md-6">
              <span class="help-block margin-top-20">Рекомендуемая стоимость 15 руб.</span>
            </div>
          </div>

          <div class="margin-top-20">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-default">Отмена</button>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <img alt="" width="125" height="125" class="img-thumbnail" ng-src="{{vm.couponSettings.siteIcon}}" ng-if="vm.couponSettings.siteIcon">
      </div>
    </div>

  </uib-tab>
  <uib-tab index="1" heading="Статистика">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.dt" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.dt" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>    
    <canvas id="line" class="chart chart-line" chart-data="vm.data"
      chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
    </canvas>
  </uib-tab>
</uib-tabset>