<div class="margin-top-15" ng-controller="Coupon as vm">
  <form ng-submit="vm.submitCouponSettings()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-feedback">
          <label for="site-address">Адрес сайта <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="text" class="form-control" id="site-url" placeholder="" ng-model="vm.couponSettings.url">
        </div>

        <div class="form-group">
          <label for="site-title">Заголовок <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="text" class="form-control" id="site-title" placeholder="" ng-model="vm.couponSettings.title">
        </div>
        <div class="form-group">
          <label for="description">Описание купона <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <textarea class="form-control" rows="2" ng-model="vm.couponSettings.description"></textarea>
        </div>
        <div class="form-group">
          <label for="promo-code-type">Промо-коды <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <div class="margin-top-03">
            <label class="radio-inline">
              <input type="radio" name="promo-code-type" id="promo-code-type-1" value="0" ng-model="vm.couponSettings.promoCodeType"> Сгенерировать системой
            </label>
            <label class="radio-inline">
              <input type="radio" name="promo-code-type" id="promo-code-type-2" value="1" ng-model="vm.couponSettings.promoCodeType"> Загрузить вручную
            </label>            
          </div>
        </div>
        <div class="form-group">
          <label for="promo-code">Введите промо-код <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <input type="text" class="form-control" id="promo-code" placeholder="" ng-disabled="vm.couponSettings.promoCodeType != 1" ng-model="vm.couponSettings.promoCode">
        </div> 
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="site-icon">Иконка <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <div class="site-icon" flow-init="{singleFile:true}"
           flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
            <div class="site-icon-buttons">
              <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Добавить изображение</span>
              <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Изменить</span>
              <span class="btn btn-danger" ng-show="$flow.files.length"
                 ng-click="$flow.cancel()">
                Удалить
              </span>
            </div>
            <div class="site-icon-holder">
              <div class="thumbnail site-icon-preview" ng-show="$flow.files.length">
                <img  class="site-icon-image" flow-img="$flow.files[0]" />
              </div>               
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="color-scheme">Цветовая тема <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <select class="form-control" name="color-scheme" id="color-scheme" 
            ng-options="color.id as color.title for color in vm.couponSettings.colorSchemeList" 
            ng-model="vm.couponSettings.colorScheme" convert-to-number>
          </select>
        </div>
        <div class="form-group">
          <label for="conditions">Условия использования купона <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
          <textarea class="form-control" rows="5" ng-model="vm.couponSettings.conditions" style="height: 128px;"></textarea>
        </div>        
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="region">Регион посетителя для которых показывать мой купон <span class="glyphicon glyphicon-question-sign faq-link" 
          uib-tooltip="Enter something in this input field to disable this tooltip"></span></label>
      <div class="input-group">
        <input type="text" ng-model="vm.region" class="form-control" uib-typeahead="region for region in vm.availableRegionList | filter:$viewValue | limitTo:5">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="vm.addRegion()"><span class="glyphicon glyphicon-plus"></span></button>
        </span>
      </div>
    </div>
    <ul class="list-inline">
      <li ng-repeat="region in vm.couponSettings.regionList">
        {{region}}
        <button type="button" class="btn btn-xs btn-link" ng-click="vm.removeRegion(region)">
          <span class="glyphicon glyphicon-remove text-danger"></span>
        </button>
      </li>
    </ul>
    <div class="form-group margin-top-15">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <button type="button" class="btn btn-danger">Удалить</button>
      <button type="button" class="btn btn-default">Отмена</button>
    </div>
  </form>
  <img alt="" width="125" height="125" class="img-thumbnail" ng-src="{{vm.couponSettings.icon}}" ng-if="vm.couponSettings.icon">
</div>