<h3>{{'C_HEAD_TARIFFS' | translate}}</h3>
<hr/>
<div class="margin-top-15">
<p translate="C_TXT_REFERRAL" translate-values="{ refLink: '<a href=\'https://couponadrocket.ru?ref=' + vm.user.id + '\'>https://couponadrocket.ru?ref=' + vm.user.id + '</a>'}"></p>
</div>
<div class="row price-row margin-top-20">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-repeat="tariff in vm.tariffs">
    <div class="panel price panel-{{vm.classes[$index]}}">
      <div uib-tooltip="{{vm.tooltips[$index]}}" class="panel-heading  text-center">
      <h4>{{tariff.name}} </h4> <span class="glyphicon glyphicon-question-sign faq-link" 
        ></span>
      </div>
      <div class="panel-body text-center">
        <p class="lead">
          <strong>
            {{ tariff.couponsCount }}
          </strong>
          <br> {{'C_LABEL_COUPONS' | translate}}
        </p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">
          <strong>{{tariff.price.price}} {{tariff.price.currency}}</strong>
        </li>
      </ul>
      <div class="panel-footer">
        <button class="btn btn-block btn-{{vm.classes[$index]}}"
        ng-if="tariff.price.price > 0"
        ng-click="vm.pay(tariff)">{{'C_BTN_CHOOSE' | translate}}</button>
      </div>
    </div>
  </div>
</div>