<div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{'C_HEAD_THANK' | translate}}}</h3>
</div>
<div class="modal-body" 
			translate="C_TXT_THANK" 
			translate-compile
			translate-values="{ clickFunc: 'ng-click=\'vm.getInvoice($event, vm.invoice.id)\''}">
</div>
<div class="modal-footer">
  <div class="clearfix">
     <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" ng-click="$close()">{{'C_BTN_CLOSE' | translate}}</button>        
  </div>
</div>