<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">{{'C_HEAD_PURCHASE' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>{{'C_TEXT_PAYMENT_METHODS' | translate}}</p>
    <form class="form-horizontal margin-top-20" novalidate name="buyForm" id="buyForm" ng-submit="buyForm.$valid ? vm.buy(vm.orderData.id) : ''">
      <div class="form-group">
        <div class="col-md-3 sum-label"><strong>{{'C_LABEL_COST' | translate}}</strong>: </div>
        <div class="col-md-9">
          {{vm.orderData.price.price}} руб.
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sum-label"><strong>{{'C_LABEL_VAT' | translate}}</strong>: </div>
        <div class="col-md-9">
          18%
        </div>
      </div>             
      <div class="form-group">
        <div class="col-md-3 sum-label"><strong>{{'C_LABEL_AMOUNT' | translate}}</strong>: </div>
        <div class="col-md-9">
          {{vm.orderData.price.price + vm.orderData.price.price*0.18 | number:0}} руб.
        </div>
      </div>
      <div class="form-group">
        <label for="company-type" class="col-md-3 control-label">{{'C_LABEL_COMPANY_TYPE' | translate}}</label>
        <div class="col-md-9">
          <select class="form-control" name="companyType" id="company-type" 
            ng-model="vm.user.companyType">
              <option ng-selected="vm.user.companyType == vm.companyTypes[0]" 
                      value="{{vm.companyTypes[0]}}">{{vm.companyTypes[0]}}</option>
              <option ng-selected="vm.user.companyType == vm.companyTypes[1]" 
                      value="{{vm.companyTypes[1]}}">{{vm.companyTypes[1]}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="company-name" class="col-md-3 control-label">{{'C_LABEL_COMPANY_NAME' | translate}}</label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="companyName" id="company-name" placeholder="" 
          ng-model="vm.user.companyName"
          maxlength="100" 
          ng-required="true">
        </div>
        <div class="text-danger col-md-9 col-md-offset-3" ng-messages="buyForm.companyName.$error" ng-if="buyForm.$submitted">
          <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country" class="col-md-3 control-label">{{'C_LABEL_COUNTRY' | translate}}</label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="country" id="country" placeholder="" 
          ng-model="vm.user.country"
          maxlength="50" 
          ng-required="true">
        </div>
        <div class="text-danger col-md-9 col-md-offset-3" ng-messages="buyForm.country.$error" ng-if="buyForm.$submitted">
          <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
        </div>              
      </div>
      <div class="form-group">
        <label for="city" class="col-md-3 control-label">{{'C_LABEL_CITY' | translate}}</label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="city" id="city" placeholder="" 
          ng-model="vm.user.city"
          maxlength="50" 
          ng-required="true">
        </div>
        <div class="text-danger col-md-9 col-md-offset-3" ng-messages="buyForm.city.$error" ng-if="buyForm.$submitted">
          <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-md-3 control-label">{{'C_LABEL_ADDRESS' | translate}}</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="4" name="zip" id="zip" 
          ng-model="vm.user.zip"
          maxlength="150" 
          ng-required="true"></textarea>
        </div>
        <div class="text-danger col-md-9 col-md-offset-3" ng-messages="buyForm.zip.$error" ng-if="buyForm.$submitted">
          <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
        </div>  
      </div>
      <div class="form-group">
        <label for="tel" class="col-md-3 control-label">{{'C_LABEL_PHONE' | translate}}</label>
        <div class="col-md-9">
          <input type="tel" class="form-control" name="tel" id="tel" placeholder="" 
          ng-model="vm.user.phone"
          maxlength="14" 
          ng-required="true">
        </div>
        <div class="text-danger col-md-9 col-md-offset-3" ng-messages="buyForm.tel.$error" ng-if="buyForm.$submitted">
          <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-3 control-label">{{'C_LABEL_EMAIL' | translate}}</label>
        <div class="col-md-9">
          <input type="email" class="form-control" id="email" placeholder="" 
          ng-model="vm.user.email"
          maxlength="129"
          ng-required="true">
        </div>
        <div class="text-danger col-md-9 col-md-offset-3" ng-messages="buyForm.email.$error" ng-if="buyForm.$submitted">
          <div ng-message="required">{{'C_MSG_REQUIRED' | translate}}.</div>
        </div>            
      </div>          
    </form>
</div>
<div class="modal-footer">   
  <div class="clearfix">
    <div class="checkbox pull-left">
      <label>
        <input type="checkbox" ng-model="vm.agree">{{'C_LABEL_AGREE' | translate}} <a href="#" ng-click="vm.showOffer($event)">{{'C_LABEL_CONTRACT_OF_OFFER' | translate}}</a>
      </label>
    </div>
    <button type="submit" form="buyForm" ng-disabled="!vm.agree" class="btn btn-primary pull-right">{{'C_BTN_BUY' | translate}}</button>        
  </div>
</div>