<h3>Тарифы</h3>
<hr/>
<div class="margin-top-15">
  <p>Отправьте своим друзьям эту ссылку <samp class="text-primary">couponadrocket.ru?ref={{vm.user.id}}</samp>, и если они подключат свой магазин в CouponAdRocket, то вы получите 50 купонов бесплатно.</p>
</div>
<div class="row price-row margin-top-20">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-repeat="tariff in vm.tariffs">
    <div class="panel price panel-{{vm.classes[$index]}}">
      <div uib-tooltip="Enter something in this input field to disable this tooltip" class="panel-heading  text-center">
      <h4>{{tariff.name}} </h4> <span class="glyphicon glyphicon-question-sign faq-link" 
        ></span>
      </div>
      <div class="panel-body text-center">
        <p class="lead">
          <strong>
            {{ tariff.couponsCount }}
          </strong>
          <br> купонов
        </p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><strong>{{tariff.price.price}} {{tariff.price.currency}}</strong><br>в месяц</li>
      </ul>
      <div class="panel-footer">
        <button class="btn btn-block btn-{{vm.classes[$index]}}"
        ng-if="tariff.price.price > 0"
        ng-click="vm.pay(tariff)">Оплатить</button>
      </div>
    </div>
  </div>
</div>