<div class="sidebar" ng-controller="Sidebar as vm">
  <div class="panel panel-default">
    <div class="panel-body ">
      <dl>
        <dd><a href="mailto:#">first.last@example.com</a></dd>
      </dl>
      <dl>
        <dt>Остаток купонов: </dt>
        <dd>100</dd>
      </dl>
      <a ng-href="#/prices" class="btn btn-primary">Пополнить баланс</a>  
      <hr>
      <dl ng-if="vm.currentSite">
        <dt>Сайт: </dt>
        <dd><a ng-href="{{vm.currentSite.homepageUr}}">{{vm.currentSite.homepageUrl}}</a></dd>
      </dl>
      <div class="coupon-info">
        <h5><strong>Отправленных купонов:</strong></h5>
        <dl>
          <dt>За сутки: </dt>
          <dd>{{vm.currentSite.couponSellAtThisDay}}</dd>
        </dl>
        <dl>
          <dt>За неделю: </dt>
          <dd>{{vm.currentSite.couponSellAtThisWeek}}</dd>
        </dl>
        <dl>
          <dt>За месяц: </dt>
          <dd>{{vm.currentSite.couponSellAtThisMonth}}</dd>
        </dl>        
      </div>
      <dl class="coupon-status">
        <dt>Статус: </dt>
        <dd>
          <span class="label" ng-class="
          {
            'label-success': vm.currentSite.status == 'active', 
            'label-warning': vm.currentSite.status == 'verified',
            'label-danger': vm.currentSite.status == 'disabled'
          }">{{vm.currentSite.status}}</span>
        </dd>
      </dl>  
      <toggle ng-model="vm.currentSite.activeFlag" ng-change="vm.toggleStatus()" on="Включен" off="Выключен" onstyle="btn-success" offstyle="btn-danger"></toggle>
    </div>
  </div>
</div>