<ul class="nav nav-tabs" ng-controller="TopNav as vm">
	<li class="nav-item" 
			ng-class="{active: vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_COUPON' | translate))}">
		<a ng-href="{{'#/site/'+ (vm.currentSite ? vm.currentSite.id : 'new') +'/coupon'}}" class="nav-link">
			{{'C_BTN_COUPON' | translate}}
		</a>
	</li>
	<li class="nav-item" 
			ng-class="{active: vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_STAT' | translate))}" 
			ng-if="vm.currentSite">
		<a ng-href="{{'#/site/'+ (vm.currentSite ? vm.currentSite.id : 'new') +'/stat'}}" class="nav-link">
			{{'C_BTN_STAT' | translate}}
		</a>
	</li>
	<li class="nav-item" 
			ng-class="{active: vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_SENT_COUPONS' | translate))}" 
			ng-if="vm.currentSite">
		<a ng-href="{{'#/site/'+ (vm.currentSite ? vm.currentSite.id : 'new') +'/sent'}}" class="nav-link">
			{{'C_BTN_SENT_COUPONS' | translate}}
		</a>
	</li>
	<li class="nav-item" 
			ng-class="{active: vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_INTEGRATION' | translate))}" 
			ng-if="vm.currentSite">
		<a ng-href="{{'#/site/'+ (vm.currentSite ? vm.currentSite.id : 'new') +'/integration'}}" class="nav-link">
			{{'C_BTN_INTEGRATION' | translate}}
		</a>
	</li>	
</ul>