<nav class="navbar navbar-default" role="navigation" ng-controller="TopNav as vm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="vm.isNavCollapsed = !vm.isNavCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand margin-right-10" href="#/">CouponAdRocket</a>
        </div>    
      </div>
      <div class="col-md-9">
       <div class="collapse navbar-collapse" uib-collapse="vm.isNavCollapsed">
          <div class="main-menu navbar-left">
            <ul class="nav navbar-nav">
              <li class="dropdown" uib-dropdown 
                ng-class="{active: vm.isRoute('Мои сайты - Купон') || 
                                  vm.isRoute('Мои сайты - Статистика') ||
                                  vm.isRoute('Мои сайты - Отправленные купоны') ||
                                  vm.isRoute('Мои сайты - Интеграция')
                          }">
                <a class="dropdown-toggle"  uib-dropdown-toggle>
                  {{'Sites' | translate}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li>
                    <a href="#/site/new/coupon">
                      Добавить сайт <span class="glyphicon glyphicon-plus text-primary margin-left-05"></span>
                    </a>
                  </li>
                  <li class="divider" ng-if="vm.sites && vm.sites.length"></li>
                  <li ng-repeat="coupon in vm.coupons" ng-class="{active: vm.currentSite.id == coupon.id}">
                    <a href="#/site/{{coupon.id}}/coupon">{{coupon.titel}}</a>
                  </li>
                </ul>                
              </li>
              <li ng-class="{active: vm.isRoute('Настройки')}">
                  <a href="#/settings">{{'Settings' | translate}}</a>
              </li>
            </ul>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li ng-class="{active: vm.isRoute('Тарифы')}">
                  <a href="#/prices">Тарифы</a>
              </li>             
              <li ng-class="{active: vm.isRoute('Faq')}">
                  <a href="#/faq">FAQ</a>
              </li>          
              <li ng-class="{active: vm.isRoute('Стать партнёром')}">
                  <a href="#/partner">{{'Partner' | translate}}</a>
              </li>
              <li>
                <button type="button" class="btn btn-default navbar-btn logout-button" ng-click="vm.logout()">
                  <span class="glyphicon glyphicon-log-out"></span> Выйти
                </button> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>