<nav class="navbar navbar-default" role="navigation" ng-controller="TopNav as vm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="vm.isNavCollapsed = !vm.isNavCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand margin-right-10" href="#/">CouponAdRocket</a>
        </div>    
      </div>
      <div class="col-md-9">
       <div class="collapse navbar-collapse" uib-collapse="vm.isNavCollapsed">
          <div class="main-menu navbar-left">
            <ul class="nav navbar-nav">
              <li class="dropdown" uib-dropdown 
                ng-class="{active: vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_COUPON' | translate)) || 
                                  vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_STAT' | translate)) ||
                                  vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_SENT_COUPONS' | translate)) ||
                                  vm.isRoute(('C_HEAD_SITES' | translate) + ' - ' + ('C_HEAD_INTEGRATION' | translate))
                          }">
                <a class="dropdown-toggle"  uib-dropdown-toggle>
                  {{'C_BTN_SITES' | translate}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li>
                    <a href="#/site/new/coupon">
                      {{'C_BTN_ADD_SITE' | translate}} <span class="glyphicon glyphicon-plus text-primary margin-left-05"></span>
                    </a>
                  </li>
                  <li class="divider" ng-if="vm.sites && vm.sites.length"></li>
                  <li ng-repeat="coupon in vm.coupons" ng-class="{active: vm.currentSite.id == coupon.id}">
                    <a href="#/site/{{coupon.id}}/coupon">{{coupon.titel}}</a>
                  </li>
                </ul>                
              </li>
              <li ng-class="{active: vm.isRoute('C_HEAD_SETTINGS' | translate)}">
                  <a href="#/settings">{{'C_BTN_SETTINGS' | translate}}</a>
              </li>
            </ul>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li ng-class="{active: vm.isRoute('C_HEAD_TARIFFS' | translate)}">
                  <a href="#/prices">{{'C_BTN_TARIFFS' | translate}}</a>
              </li>             
              <li ng-class="{active: vm.isRoute('C_HEAD_FAQ' | translate)}">
                  <a href="#/faq">{{'C_BTN_FAQ' | translate}}</a>
              </li>          
<!--               <li ng-class="{active: vm.isRoute('C_HEAD_BECOME_A_PARTNER' | translate)}">
                  <a href="#/partner">{{'C_BTN_BECOME_A_PARTNER' | translate}}</a>
              </li> -->
              <li>
                <button type="button" class="btn btn-default navbar-btn logout-button" ng-click="vm.logout()">
                  <span class="glyphicon glyphicon-log-out"></span> {{'C_BTN_LOGOUT' | translate}}
                </button> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>