.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-left-05 { margin-left: 0.5em; }
.margin-left-10 { margin-left: 1.0em; }
.margin-left-15 { margin-left: 1.5em; }
.margin-left-20 { margin-left: 2.0em; }
.margin-left-25 { margin-left: 2.5em; }
.margin-left-30 { margin-left: 3.0em; }